<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89abca">  <td>12/12/31 16:08:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:hu.pte.schafferg.cellarManager.test.ServiceTest@5b5b0e9f]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@882055641</td>   <td></td> </tr>
<tr bgcolor="89abca">  <td>12/12/31 16:08:52</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:hu.pte.schafferg.cellarManager.test.ServiceTest@5b5b0e9f]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@882055641</td>   <td></td> </tr>
<tr bgcolor="89abca">  <td>12/12/31 16:08:44</td>   <td>-8240</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:hu.pte.schafferg.cellarManager.test.ServiceTest@5b5b0e9f]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@882055641</td>   <td></td> </tr>
<tr bgcolor="89abca">  <td>12/12/31 16:08:47</td>   <td>-4704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:hu.pte.schafferg.cellarManager.test.ServiceTest@5b5b0e9f]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@882055641</td>   <td></td> </tr>
<tr bgcolor="89abca">  <td>12/12/31 16:08:44</td>   <td>-8234</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:hu.pte.schafferg.cellarManager.test.ServiceTest@5b5b0e9f]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@882055641</td>   <td></td> </tr>
<tr bgcolor="df7382">  <td>12/12/31 16:08:47</td>   <td>-4704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceTest.test()[pri:0, instance:hu.pte.schafferg.cellarManager.test.ServiceTest@5b5b0e9f]">test</td> 
  <td>main@882055641</td>   <td></td> </tr>
</table>
